@charset“ utf-8”;
/ *
 

{文本装饰：无；颜色：继承}
ul {list-style：none}
.col-sm-4 {float：left; width：33.33333333％; padding：10px}
/ *背景* /
.bg-white {background-color：#ffffff; box-shadow：0px 8px 20px 0px rgba（0，0，0，0.14）！important;}
.developer-train-block {max-width：1200px; text-align：center; padding：50px 0; clear：both; margin：0 auto}
/ *大标题* /
.titleBar {text-align：center}
.titleBar .caption {font-size：36px; color：＃252b3a; letter-spacing：0; text-align：center; line-height：46px; margin-bottom：10px}
.descript {margin-bottom：40px; font-size：16px; color：＃A0A2A8}
/ *内容* /
.developer-train .tile {position：relative; background：#FFFFFF; height：240px; box-shadow：0 8px 16px 0 rgba（0,0,0,0.10）; border-radius：12px}
.developer-train .layer-figure {border-radius：12px; text-align：center; font-size：18px; color：＃252b3a; height：79px; background：url（“ ../ img / trainblock.png” ）无重复中心}
.developer-train .title {边框半径：12px 12px 0px 0px；线高：79px；边框底：1px实心#ddd;颜色：＃252b3a；字体大小：18px；背景颜色：＃797676;}
.developer-train .dev-text {text-align：center; margin：30px 30px 0; font-size：12px; color：＃A0A2A8}
/ *按钮* /
.developer-train .buttond {position：absolute; bottom：30px; right：35.842％; text-align：center; margin：auto; width：100px; height：32px; border：1px solid＃f66f6a; font-size：14px ; color：＃f66f6a}
.developer-train .buttoned p {line-height：30px; color：＃f66f6a}
.developer-train .buttond：hover {background-color：＃f66f6a; border：none; cursor：pointer}
.developer-train .buttond：悬停ap {color：#fff}